{% extends 'base/layout.html' %}

{% block title %}Mymeホームへようこそ{% endblock %}

{% block content %}
    <div class="container">

        <fieldset class="content-card">
           <legend class="content-card-header">
           タイトル付き枠
           </legend>
           ここに文字を入力する。
        </fieldset>

        <div class="card bg-info">
		   <div class="card-header">小学生</div>
		   <div class="card-body">
		      <div class="card-text">
			     ここに文字を入力する
			  </div>
			  <div class="card-text">
			     ここに文字を入力する
			  </div>
			  <div class="card-text">
			     ここに文字を入力する
			  </div>
		  </div>
		</div>

        <div class="row">
           <div class="col-sm-6">
              <fieldset class="rectangle">
                 <legend class="caption" style="background-color: #98fb98">
                     小学生
                 </legend>
                 <div>
                     ここに文字を入力する
                 </div>
                 <div>
                     ここに文字を入力する
                 </div>
                 <div>
                     ここに文字を入力する
                 </div>
             </fieldset>
         </div>

            <div class="col-sm-6">
                <fieldset class="rectangle">
                    <legend class="caption" style="background-color: #add8e6">
                        中学生
                    </legend>
                    <div>
                        ここに文字を入力する
                    </div>
                    <div>
                        ここに文字を入力する
                    </div>
                    <div>
                        ここに文字を入力する
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <fieldset class="rectangle">
                    <legend class="caption" style="background-color: #fad09e">
                        高校生
                    </legend>
                    <div>
                        ここに文字を入力する
                    </div>
                    <div>
                        ここに文字を入力する
                    </div>
                    <div>
                        ここに文字を入力する
                    </div>
                </fieldset>
            </div>

            <div class="col-sm-6">
                <fieldset class="rectangle">
                    <legend class="caption" style="background-color: #da81b2">
                        大学生
                    </legend>
                    <div>
                        ここに文字を入力する
                    </div>
                    <div>
                        ここに文字を入力する
                    </div>
                    <div>
                        ここに文字を入力する
                    </div>
                </fieldset>
            </div>
       </div>
    </div>

{% endblock %}